#afficherBC
{
	width: 100%;
	text-align: center;
}

#afficherBC, #creerBilan
{
	display: inline-grid;
}

#afficherBC, #modifierBilan
{
	display: inline-grid;
}

#creerBilan, #modifierBilan
{
	display: none;
	border-left: solid 2px grey;
	padding-bottom: 20px;
}

#creerBilan h1, #modifierBilan h1
{
	padding-top: 0;
}

/* Bilan : voir */

.nom-bilan
{
	margin-left: 20px;
	float: left;
	position: relative;
	color: black;
}

.nom-bilan:hover {
    text-decoration: underline 2px;
	color: #0657b1;
}

.action
{
	margin-left: 15px;
	margin-top: 10px;
}

.titre
{
	float: left;
	margin-top: 15px;
	background-color: #929292;
	color: white;
	width: 100%;
}

.creer, .actions
{
	float: right;
	margin-right: 15px;
}

.etablissement
{
	float: left;
}

.etablissement, .creer
{
	display: inline;
}

.creer
{
	padding-top: 8px;
}

/* Images */

.creer, .actions img
{
	height: 50;
	width: 50;
}

/* Poste : voir */

.titrePoste
{
	text-align: center;
}

/* Modifier et créer */

.formulaire, .supprimer
{
	text-align: center;
	width: 60%;
	max-width: 500px;
	display: block;
	margin: auto;
	padding: 10px;
	
}

.formulaire
{
	background-color: #c1c1c1;
	box-shadow: 15px 15px 5px #646464;
}

.nom, .periode, .enregistrer
{
	display: inline;
}

.fermer
{
	
	background-color: #f50000;
	color: #FFFFFF;
	width: max-content;
	padding: 5px;
}

.fermer:hover
{
	background-color: #f6f6f6;
	color: #f50000;
}