#menu
{
	padding: 15px;
	margin-top: 20px;
	display: inline-block;
	text-align: center;
}
	
/* Page d'accueil */

	#menu
	{
		min-width: 900px;
		background-color: #dedede;
		box-shadow: 8px 8px 0px rgb(77, 77, 77);
		margin-left: 320px;
		display: inline-block;
	}
	
	#bilan, #compte
	{
		max-width: 50%;
		text-align: center;
		display: inline-block;
		margin-left: 15px;
	}
	
	#compte
	{
		margin-left: 20px;
	}
	
	#menu img
	{
		width: 300px;
		height: 200px;
	}
	
/* Bilans */
	
	#creer
	{
		float: right;
		margin-right: 250px;
	}
	
	#bilans
	{
		text-align: center;
	}
	
	#boutons
	{
		margin-left: 25px;
	}
	
	#modifier
	{
		margin-right: 15px;
	}
	
	#bilan
	{
		display: block;
		margin-left: 350px;
	}
	
/* Postes */

	#poste
	{
		margin-left: 400px;
		margin-top: 30px;
	}
	
#precedent
{
	margin-left: 10px;
}

#gestionCompte
{
	text-align:center;
}

#inputBilan
{
	margin-left: 630px;
}