body
{
	background-color: #f6f6f6;
}

label
{
	text-align: left;
}

#login
{
	text-align: left;
}

#formulaire, #logo
{
	display: inline-block;
}

#logo
{
	background-color: grey;
	height: 100%;
	width: 30%;
}

#formulaire
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-10%, -50%);
}

#cadre
{
	background-color: #ffffff;
	padding: 30px;
	box-shadow: 20px 20px 5px #a5a5a5;
	margin-left: auto;
	margin-right: auto;
}

#logo_accueil
{
	width: 20%;
	height: auto;
	position: absolute;
	top: 50%;
	transform:translate(20%, -50%);
	font-size: 30px;
}

#logo_accueil:hover
{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#login, #mdp
{
	margin-bottom: 10px;
}