#accueil
{
	text-align: center;
	width: 60%;
	max-width: 500px;
	display: block;
	margin: auto;
	color: white;
}

#cadre
{
	border:4px solid #014f06;
	border-radius: 15px;
	background-color: #818181;
	margin-top: 20px;
	padding: 30px;
	box-shadow: 20px 20px 5px #646464;
}

#logo_accueil
{
	width: 70%;
	max-width: 500;
	height: auto;
	margin-top: 10px;
}

#login, #mdp
{
	margin-bottom: 10px;
}