/* Pour les téléphones et les tablettes */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)
{
	table, thead, tbody, th, td, tr
	{ 
		display: block;		
	}
	
	thead tr
	{ 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr
	{
		border: 1px solid #ccc;
	}
	
	td 
	{ 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before 
	{
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td.supprimer, th.supprimer
	{
		display: none;
	}
	
	th.titre_table
	{
		display: none;
	}
	
	#affichage td:nth-of-type(1):before {
		content: "Date";
	}
	
	#affichage td:nth-of-type(2):before {
		content: "Ouverture";
	}
	
	#affichage td:nth-of-type(3):before {
		content: "Min";
	}
	
	#affichage td:nth-of-type(4):before {
		content: "Max";
	}
	
	#affichage td:nth-of-type(5):before {
		content: "Cloture";
	}
	
	#affichage td:nth-of-type(6):before {
		content: "Volume";
	}
}

table 
{
	border-collapse: collapse;
	border: 3px solid rgb(150,150,150);
	letter-spacing: 1px;
	font-size: 20px;
}

td, th 
{
	border: 2px solid rgb(190,190,190);
	padding: 10px 20px;
	text-align: center;
}

th
{
	background-color: #505152;
	color: white;
}

tr:hover td
{
	color: #0073cd;
}

tr:nth-child(even) td 
{
	background-color: rgb(250,250,250);
}

tr:nth-child(odd) td 
{
	background-color: rgb(230,230,230);
}

#tableau
{
	overflow-x: auto;
}