/* Pour les téléphones et les tablettes */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)
{
	table, thead, tbody, th, td, tr
	{ 
		display: block;
	}
	
	thead tr
	{ 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr
	{
		border: 1px solid #ccc;
	}
	
	td 
	{ 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before 
	{
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

table 
{
	border-collapse: collapse;
	/* border: 3px solid rgb(150,150,150); */
	letter-spacing: 1px;
	font-size: 20px;
	margin: auto;
}

td, th 
{
	/* border: 2px solid rgb(190,190,190); */
	padding: 10px 20px;
	text-align: center;
}

th
{
	background-color: #0657b1;
	color: white;
}

tr:nth-child(even) td 
{
	background-color: #d8d8d8;
}

tr:nth-child(odd) td 
{
	background-color: #f6f6f6;
}

tr:hover td
{
	background-color: #fff300;
}

#tableau
{
	overflow-x: auto;
}

#modifierPoste, #supprimerPoste
{
	display: contents;
}