html 
{
	height: 100%;
}

body 
{
	max-height:50%;
	padding: auto;
	margin: auto;
	background: #d7f0c2;
}

#global
{
	min-height: 100%;
	width: 1025px;
	padding:auto;
	margin-top:0%;
	margin-left:21%;
	text-align : center;
	float:left;	
}

#global h1
{
	padding: auto;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-size: 40px;
}

#global h2
{
	padding: auto;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
	font-size: 25px;
}

input
{
	width: 25%;
	padding: 12px 20px;
	margin-left: 37%;
	margin-right: 37%;
}

input[type="submit"]
{
	font-size:16px;
	color:noir;
	background-color:#E2E3E7;
	text-align:center;
	height:40px;
	width:180px;
	margin-top:1%;
}

#connexion
{
	float:left;
	margin-right:35%;
	margin-left:41%;
	margin-top:1%;
}

#deconnexion1
{
	float:right;
	margin-right:1%;
	margin-left:100%;
	margin-top:0%;
}

#deconnexion
{
	float:right;
	margin-right:1%;
	margin-left:100%;
	margin-top:-3%;
}

#precedent
{
	float:left;
	margin-right:100%;
	margin-left:1%;
	margin-top:0%;
	width:250px;
}

#enregistrer
{
	float: center;
	width: 245px;
}

#global a 
{
	padding: 5px;
	line-height: 1.5;
	font-size: 0.85em;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}

#creer
{
	float: right;
	margin-right: 10%;
	margin-top: -9%;
}

#modifier #supprimer
{
	float: right;
}

#modifier
{
	margin-left: 150px;
}

#supprimer
{
	margin-left: 5px;
}

#global label
{
	line-height: 35px;
}